body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }

html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  width: 100%; /* Adjust width to your desired size */
  height: 100%; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}
#map {
    position: relative;
  }

  #map svg {
    /* background: yellow;
  opacity: 50%; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    z-index: 1;          
  }
  
  #map svg circle {
    pointer-events: auto;
  }
 
  header {
    margin-bottom: 30px;  
  }
  #time-control {
    margin-top: 10px;
    padding-bottom: 10px;  
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
  }
  
  #time-control .time-row {
    width: 80px;     
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
  }
  
  #selected-time {
    display: inline-block;
    min-width: 60px;  
  }
  
  #any-time {
    opacity: 0.6;
  }

  #map circle,
  .legend > div {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
      in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals)
    );
    fill: var(--color);
  }
  
  .legend {
    margin-top: 20px;
    display: flex;
    gap: 24px;   
    align-items: center;
    font-size: 14px;
  }
  
  .legend-title {
    font-weight: 600;
    margin-right: 12px;
    color:#999;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    gap: 6px;   
  }
  
  .legend-swatch {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 1px solid #999;
  
    background: color-mix(
      in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals)
    );
  }
  
  /* 复用 circle 的颜色变量 */
  .legend,
  .legend * {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
  }